<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Teste Stract</title>
</head>
<body>
    <h2>Nome: Lucas Stevanin</h2>
    <h2>Email: <a href="#">lucasstevanin@gmail.com</a></h2>
    <h2>Linkedin: <a href="https://www.linkedin.com/in/lucas-stevanin" target="_blank">https://www.linkedin.com/in/lucas-stevanin</a></h2>
</body>
</html>
